
html {
	width: 100%;
	height: 100%;
}

body {
	font-size: 5vw;
	width: 100%;
	height: 100%;
	margin: 0;
}

div {
	cursor: default;
}

#application {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
div.task-container {
	width: 100%;
	height: 8vw;
}

div.answer-container {
	width:100%;
	height: 16vw;
}

div.score-board {
	width:100%;
	height: 8vw;
}

#task {
	width: 50%;
	padding:1vw;
	box-sizing: border-box;
	float: left;
}

div.user-container {
	width: 100%;
	height: 10vw;
}

div.user-container > div, div.button {
	width: 22%;
	font-size: 3vw;
	text-align: center;
	margin:1%;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	float: left;
	box-sizing: border-box;
}

div.button {
	cursor: pointer;
}

body.light div.button {
	background-color: #888;
}

body.light div.button:hover {
	background-color: #444;
	border-color: #000;
	color: #000;
}

div.user-container > div:not(.selected) {
	cursor: pointer;
}

body.light div.user-container > div.selected {
	background-color: green;
}

body.light div.user-container > div:hover:not(.selected) {
	background-color: #999;
	border-color: #000;
	color: #000;
}

div.score-table {
	padding: 10px;
}

th {
	text-align: left;
	padding-right: 2vw;
}

div.answer-container > div {
	width:8%;
	font-size: 5vw;
	text-align: center;
	margin:1%;
	border-width: 2px;
	border-style: solid;
	border-radius:15px;
	float: left;
	box-sizing: border-box;
}

div.active div.answer-container > div {
	cursor: pointer;
}

div.start, div.user {
	text-align: center;
	margin:1%;
	font-size: 4vw;
	border-width: 2px;
	border-style: solid;
	border-radius: 15px;
	float: right;
	padding: 0.5vw 2vw;
}

div.ready div.start, div.ready div.user {
	cursor: pointer;
}

div.start {
	background-color: #080;
	visibility: hidden;
}

div.ready div.start {
	visibility: inherit;
}

div.start:hover {
	background-color: #0c0;
}

div.active div.user {
	background-color: #400;
	color: #888;
	border-color: #888;
}

div.inactive div.user {
	background-color: #400;
	color: #888;
	border-color: #888;
}

div.ready div.user {
	background-color: #D00;
	color: #000;
}

div.ready div.user:hover {
	background-color: #F22;
}

div.time {
	width: 15%;
	padding:1vw;
	box-sizing: border-box;
	float: right;
	text-align: right;
}

div.ready div.time {
	width: 0;
	padding:0;
	overflow: hidden;
}

div.score, div.score-hilite {
	width: 40%;
	padding:1vw;
	box-sizing: border-box;
	float: left;
}

body.light div.task-container {
	width: 100%;
	background-color: #eee;
}

body.light div.active {
	color: #333;
	border-color: #333;
}

body.light div.inactive, div.ready {
	color: #ccc;
	border-color: #ccc;
}

body.light div.answer-container > div.error {
	animation:blinkingErrorLight 0.8s infinite;
}

@keyframes blinkingErrorLight{
	0%{		background-color: red;	}
	50%{	background-color: #ddd;	}
	100%{	background-color: red;	}
}

body.light div.answer-container > div.correct {
	background-color: green;
}

body.light div.answer-container > div.success {
	animation:blinkingSuccessLight 0.8s infinite;
}

#dialog-mask {
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.dialog-title {
	font-size: 2.5vw;
	height: 3vw;
	width: 100%;
	text-align: center;
	border-radius: 9.5px;
}

body.light .dialog-title {
	color: #111;
	background-color: #888;
}

.dialog {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
}

body.light .dialog {
	background-color: #ccc;
	border-color: #fff;
	color: #333;
	font-size: 2vw;
}


#settings {
	position: absolute;
	left: 10%;
	right: 10%;
	top: 10%;
	bottom: 10%;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s linear, visibility 0.2s linear;
}

.visible {
	visibility: inherit;
	opacity: 1;
	transition: opacity 0.3s linear;
  }

@keyframes blinkingSuccessLight{
	0%{		background-color: green;	}
	50%{	background-color: #ddd;	}
	100%{	background-color: green;	}
}

body.light div.score-hilite {
	animation:blinkingHiliteScoreLight 0.8s infinite;
}

@keyframes blinkingHiliteScoreLight{
	0%{		color: green;	}
	50%{	color: #ddd;	}
	100%{	color: green;	}
}

body.light div.score-board {
	color: #333;
}

body.light div.answer-container > div {
	background-color: #ddd;
}

body.light div.active div.answer-container > div:hover {
	background-color: #999;
	border-color: #000;
	color: #000;
}