html {
	width: 100%;
	height: 100%;
}

body {
	font-size: 5vw;
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div {
	cursor: default;
}

#application {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

div.task-container {
	width: 100%;
	height: 8vw;
}

#clipper {
	position: relative;
	width:100%;
	overflow: hidden;
}

#clipper.two-rows, #clipper.rows-2, #clipper.row-0-and-1 {
	height: 15vw;
	transition: height 0.5s ease-in-out;
}

#clipper.rows-3 {
	height: 22.5vw;
	transition: height 0.5s ease-in-out;
}

#clipper.rows-4 {
	height: 30vw;
	transition: height 0.5s ease-in-out;
}

#clipper.rows-5 {
	height: 37.5vw;
	transition: height 0.5s ease-in-out;
}

#clipper.rows-6 {
	height: 45vw;
	transition: height 0.5s ease-in-out;
}

#clipper.rows-7 {
	height: 52.5vw;
	transition: height 0.5s ease-in-out;
}

#clipper.rows-8 {
	height: 60vw;
	transition: height 0.5s ease-in-out;
}

#clipper.rows-9 {
	height: 67.5vw;
	transition: height 0.5s ease-in-out;
}

#clipper > .answer-container {
	top: -7.5vw;
	transition: top 0.5s ease-in-out;
}

#clipper.row-0-and-1 > .answer-container {
	top: 0vw;
	transition: top 0.5s ease-in-out;
}

div.answer-container {
	position: absolute;
	width:100%;
}

div.score-board {
	width:100%;
	height: 8vw;
}

#task {
	width: 50%;
	padding:1vw;
	box-sizing: border-box;
	float: left;
}

div.user-container {
	width: 100%;
	height: 10vw;
}

div.user-container > div, div.button {
	width: 30%;
	font-size: 3vw;
	text-align: center;
	margin:1%;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	float: left;
	box-sizing: border-box;
}

div.button {
	cursor: pointer;
}

div.user-container > div:not(.selected) {
	cursor: pointer;
}

div.score-table {
	padding: 10px;
}

th {
	text-align: left;
	padding-right: 2vw;
}

div.answer-container > div {
	width:8vw;
	height: 5.5vw;
	font-size: 5vw;
	text-align: center;
	margin:1vw;
	border-width: 2px;
	border-style: solid;
	border-radius:1.2vw;
	float: left;
	box-sizing: border-box;
}

div.negative {
	opacity: 0;
	pointer-events: none;
}

div.active div.answer-container > div {
	cursor: pointer;
}

div.start, div.user {
	text-align: center;
	margin:1%;
	font-size: 4vw;
	border-width: 2px;
	border-style: solid;
	border-radius: 15px;
	float: right;
	padding: 0.5vw 2vw;
}

div.ready div.start, div.ready div.user {
	cursor: pointer;
}

div.start {
	visibility: hidden;
}

div.ready div.start {
	visibility: inherit;
}

div.op-select {
	position: absolute;
	top: 0px;
	left: 42.35vw;
	width: 15.3vw;
	height: 5vw;
}

div.style-select {
	position: absolute;
	bottom: 0px;
	left: 46.1vw;
	width: 8vw;
	height: 4vw;
}

div.op-select > div, div.style-select > div {
	width:3vw;
	height:3vw;
	padding-top: 0.2vw;
	font-size: 2vw;
	text-align: center;
	margin:0.4vw;
	border-width: 2px;
	border-style: solid;
	border-radius:1.5vw;
	float: left;
	box-sizing: border-box;
}

div.op-select > div:not(.selected), div.style-select > div:not(.selected) {
	cursor: pointer;
}

div.active div.op-select > div:not(.selected), div.inactive div.op-select > div:not(.selected) {
	pointer-events: none;
}

div.time {
	width: 15%;
	padding:1vw;
	box-sizing: border-box;
	float: right;
	text-align: right;
}

div.ready div.time {
	width: 0;
	padding:0;
	overflow: hidden;
}

div.score, div.score-hilite {
	width: 40%;
	padding:1vw;
	box-sizing: border-box;
	float: left;
}

#dialog-mask {
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.dialog-title {
	font-size: 2.5vw;
	height: 3vw;
	width: 100%;
	text-align: center;
	border-radius: 0.5vw;
	position: relative;
}

svg {
	cursor: pointer;
}

.dialog {
	height: 100%;
	width: 100%;
	border-radius: 0.55vw;
	border-width: 2px;
	border-style: solid;
}

#settings {
	position: absolute;
	left: 10%;
	right: 10%;
	top: 10%;
	bottom: 10%;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s linear, visibility 0.2s linear;
}

.visible {
	visibility: inherit;
	opacity: 1;
	transition: opacity 0.3s linear;
}

/*---------------------------------------------*/
/* Light styles                                */
/*---------------------------------------------*/

body.light div.active div.user {
	background-color: #400;
	color: #888;
	border-color: #888;
}

body.light div.inactive div.user {
	background-color: #400;
	color: #888;
	border-color: #888;
}

body.light div.ready div.user {
	background-color: #D00;
	color: #000;
}

body.light div.ready div.user:hover {
	background-color: #F22;
}

body.light div.start {
	background-color: #080;
}

body.light div.start:hover {
	background-color: #0c0;
}

body.light div.task-container {
	width: 100%;
	background-color: #eee;
}

body.light div.active {
	color: #333;
	border-color: #333;
}

body.light div.inactive, body.light div.ready {
	color: #ccc;
	border-color: #ccc;
}

body.light div.answer-container > div.error {
	animation:blinkingErrorLight 0.8s infinite;
}

body.light div.answer-container > div.correct {
	background-color: green;
}

body.light div.answer-container > div.success {
	animation:blinkingSuccessLight 0.8s infinite;
}

body.light div.op-select div:not(.selected), body.light div.style-select div:not(.selected) {
	color: #222;
	border-color: #222;
	background-color: #ccc;
}

body.light div.op-select > div.selected, body.light div.style-select > div.selected {
	background-color: green;
	color: white;
	border-color: white;
}

body.light div.op-select > div:hover:not(.selected), body.light div.style-select > div:hover:not(.selected) {
	background-color: #999;
	border-color: #000;
	color: #000;
}

body.light div.active div.op-select > div:not(.selected), body.light div.inactive div.op-select > div:not(.selected) {
	color: #aaa;
	background-color: #eee;
	border-color: #aaa;
	pointer-events: none;
}

body.light div.score-hilite {
	animation:blinkingHiliteScoreLight 0.8s infinite;
}

body.light div.score-board {
	color: #333;
}

body.light div.answer-container > div {
	background-color: #ddd;
}

body.light div.active div.answer-container > div:hover {
	background-color: #999;
	border-color: #000;
	color: #000;
}

body.light .dialog {
	background-color: #ccc;
	border-color: #fff;
	color: #333;
	font-size: 2vw;
}

body.light svg {
	stroke:#111;
}

body.light svg:hover {
	stroke:#eee;
}

body.light .dialog-title {
	color: #111;
	background-color: #888;
}

body.light div.user-container > div.selected {
	background-color: green;
}

body.light div.user-container > div:hover:not(.selected) {
	background-color: #999;
	border-color: #000;
	color: #000;
}

body.light div.button {
	background-color: #888;
}

body.light div.button:hover {
	background-color: #444;
	border-color: #000;
	color: #000;
}

@keyframes blinkingErrorLight{
	0%{		background-color: red;	}
	50%{	background-color: #ddd;	}
	100%{	background-color: red;	}
}

@keyframes blinkingSuccessLight{
	0%{		background-color: green;	}
	50%{	background-color: #ddd;	}
	100%{	background-color: green;	}
}

@keyframes blinkingHiliteScoreLight{
	0%{		color: green;	}
	50%{	color: #ddd;	}
	100%{	color: green;	}
}

/*---------------------------------------------*/
/* Dark styles                                */
/*---------------------------------------------*/

body.dark {
	background-color: #111;
	color: #ccc;
}

body.dark div.active div.user, body.dark div.inactive div.user {
	background-color: #200;
	color: #666;
	border-color: #666;
}

body.dark div.ready div.user {
	background-color: #800;
	color: #ccc;
}

body.dark div.ready div.user:hover {
	background-color: #d00;
	color: #fff;
}

body.dark div.start {
	background-color: #060;
	color: #ccc;
}

body.dark div.start:hover {
	background-color: #0a0;
	color: #fff;
}

body.dark div.task-container {
	width: 100%;
	background-color: #222;
}

body.dark div.active {
	color: #ccc;
	border-color: #ccc;
}

body.dark div.inactive, body.dark div.ready {
	color: #666;
	border-color: #666;
}

body.dark div.answer-container > div.error {
	animation:blinkingErrorDark 0.8s infinite;
	color: #ccc;
}

body.dark div.answer-container > div.correct {
	background-color: green;
	color: #ccc;
}

body.dark div.answer-container > div.success {
	animation:blinkingSuccessDark 0.8s infinite;
	color: #ccc;
}

body.dark div.op-select div:not(.selected), body.dark div.style-select div:not(.selected) {
	color: #ccc;
	border-color: #ccc;
	background-color: #444;
}

body.dark div.op-select > div.selected, body.dark div.style-select > div.selected {
	background-color: green;
	color: white;
	border-color: white;
}

body.dark div.op-select > div:hover:not(.selected), body.dark div.style-select > div:hover:not(.selected) {
	background-color: #666;
	border-color: #fff;
	color: #fff;
}

body.dark div.active div.op-select > div:not(.selected), body.dark div.inactive div.op-select > div:not(.selected) {
	color: #666;
	background-color: #333;
	border-color: #666;
	pointer-events: none;
}

body.dark div.score-hilite {
	animation:blinkingHiliteScoreDark 0.8s infinite;
}

body.dark div.score-board {
	color: #ccc;
}

body.dark div.answer-container > div {
	background-color: #333;
	border-color: #666;
}

body.dark div.active div.answer-container > div:hover {
	background-color: #666;
	border-color: #fff;
	color: #fff;
}

body.dark .dialog {
	background-color: #333;
	border-color: #ccc;
	color: #ccc;
	font-size: 2vw;
}

body.dark svg {
	stroke:#bbb;
}

body.dark svg:hover {
	stroke:#fff;
}

body.dark .dialog-title {
	color: #bbb;
	background-color: #444;
}

body.dark div.user-container > div.selected {
	background-color: green;
}

body.dark div.user-container > div:hover:not(.selected) {
	background-color: #666;
	border-color: #fff;
	color: #fff;
}

body.dark div.button {
	background-color: #333;
	border-color: #ccc;
}

body.dark div.button:hover {
	background-color: #666;
	border-color: #fff;
	color: #fff;
}

@keyframes blinkingErrorDark {
	0%{		background-color: red;	}
	50%{	background-color: #222;	}
	100%{	background-color: red;	}
}

@keyframes blinkingSuccessDark {
	0%{		background-color: green;	}
	50%{	background-color: #222;	}
	100%{	background-color: green;	}
}

@keyframes blinkingHiliteScoreDark {
	0%{		color: green;	}
	50%{	color: #ccc;	}
	100%{	color: green;	}
}
